<% if signed_in? %>
	<div class="row">
		<aside class="span4">
			<section>
				<%= render 'shared/user_info' %>
			</section>
			<section>
				<%= render 'shared/stats' %>
			</section>
			<section>
				<%= render 'shared/micropost_form' %>
			</section>
		</aside>
		<div class="span8">
			<h3>Micropost Feed</h3>
			<%= render 'shared/feed' %>
		</div>
	</div>

<% else %>
	<div class="center hero-unit">
	<h1>Welcome to the Sample App</h1>

			<h2>
				This is the home page for the app that I'm developing using Ruby on Rails. Right now, it's pretty much a clone of twitter, so you can sign up, sign in and out, and follow other people who's messages will appear on your feed. I'm at the point where I'm tinkering around with it and adding features. Once I add all of the stuff that I want the app to do, I will start the web design and branding for the app.
			</h2>

			<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>

	<%= link_to image_tag("rails.png", alt: "Ruby on Rails Tutorial"), 'http://railstutorial.org/' %>
<% end %>


